/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background: #f9f9f9;
}

h1 {
  font-weight: 400;
  font-size: 1em;
  color: #f9f9f9;
  letter-spacing: 2px;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  color: #393933;
  letter-spacing: 2px;
}

h3 {
  font-weight: 500;
  letter-spacing: 2px;
  color: #393933;
  font-size: .8em;
  padding-top: 1em;
}

p {
  color: #6F6F63;
  line-height: 1.8em;
  font-size: .8em;
  padding-top: .5em;
}

.full {
  width: 100%;
}

.hero {
  padding: 32px 40px;
  background: #0B2C3C;
}

.description {
  padding: 32px;
  width: 100%;
}

.rmn-color {
  border-left: 10px solid #5F2F6B;
}

.ls-color {
  border-left: 10px solid #544AA1;
}

.wcst-color {
  border-left: 10px solid #CECFC0;
}

.cob-color {
  border-left: 10px solid #0077BD;
}

span {
  font-size: .8em;
}

.grey {
  background: #e9e9e9;
}

.hero h3 {
  color: #f9f9f9;
  font-weight: 400;
  letter-spacing: 2px;
}

.additional {
  border-left: 10px solid #393933;
}

.additional-two {
  border-left: 10px solid #6F6F63;
}

a {
  text-decoration: none;
  color: #f9f9f9;
}

.topper {
  border-left: 10px solid #f9f9f9;
  width: 100%;
}

@media screen and (min-width:600px) {

  .description {
    padding: 64px 200px 64px 32px;
  }

  .wrap-padded {
    padding: 0px 40px;
  }

}


@media screen and (min-width:750px) {

  html, body {
    font-size: 20px;
  }

  .wrap {
    max-width: 960px;
    margin: 0 auto;
  }

  .description {
    padding: 64px 400px 64px 32px;
  }

  .wrap-padded {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 40px;
  }

}
